html {
    overflow-x: hidden;
}
.navbar-default {
    background-color: rgba(255, 255, 255, 0.7);
}
.sidebar {
    box-shadow: 1px 0 20px 3px #000;
    z-index: 4;
}
.content-bg {
    background-color: #ffffff52;
    padding: 20px;
    border-radius: 8px;
}
.sidebar .nav li {
    width: 100%;
}
.sidebar .nav li > a {
    background: #38383852;
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 15px 0;
    border-bottom: 1px solid #ffffff69;
}
.sidebar .nav li.active > a {
    background: #38383852;
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 15px 0;
}
.sidebar .nav li > a p:before {
    font-family: fontawesome;
    content: "\f054";
    width: 28px;
    display: inline-block;
    vertical-align: top;
}
.sidebar .nav li.activa > a p:before {
    font-family: fontawesome;
    content: "\f078";
}
.sidebar .nav p {
    margin-left: 45px;
    width: 100%;
    margin: 0;
    font-size: 16px;
    letter-spacing: 3px;
}
.navbar-nav {
    flex-direction: row;
}
.navbar-nav .nav-item {
    margin-right: 35px;
}
.navbar-nav .nav-item::last-child {
    margin-right: 0;
}
ul.submenu.nav {
    display: none;
    margin: 0;
}
ul.submenu.nav > li > a {
    padding-left: 30px;
    background: #1b4e4ed4;
}